body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #eee;
    font-size: 14px;
    /* max-width: 1400px; */
    margin: 0 auto;
}

 /* --- header --- */

.header {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
}

.header .logo {
    width: 25%;
    height: 100%;
}

.header .navigation {
    /* border: 1px solid red; */
    width: 50%;
}

.header .navigation a {
    padding: 0 20px;
    text-decoration: none;
    font-size: 11px;
    /* border: 1px solid red; */
    font-weight: bold;
    color: #263A4F;

    transition: all 0.2s ease-in-out;

}

.header .navigation a:hover {
    color: #FFBE00;
}

.header .mobile {
    width: 25%;
    text-align: center;
    padding: 16px;
}

.header .mobile a {
    color: #263A4F;
    text-decoration: none;
    font-weight: bolder;
}

/* a[href^="mobile"]::before {
    content: "📞 ";
} */

 /* --- banner --- */

.banner {
    /* border: 1px solid red; */
    /* background-color: red; */
    background-image: url("../images/open.jpg");
    background-size: cover;
    text-align: left;
    position: relative;
    height: 100vh;
    width: 100%;
}

.banner-container {
    background-color: #000000b4;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
}

.banner-text {
    margin: 200px;
    /* border: 1px solid red; */
    color: white;
    text-align: left;
}

.banner-text h1 {
    font-size: 36px;
}

.banner-text h1, h5 {
    width: 100%;
}

.banner .button {
    padding: 16px 32px;
    border: none;
    background-color: #FFBE00;
    font-weight: bold;
    color: white;

    transition: background-color .5s ease-in-out;
}

.banner .button:hover {
    background-color: #263A4F;
}

 /* --- about --- */

.about {
    /* border: 1px solid red; */
    display: flex;
    padding: 100px;
    text-align: left;
}

.about .left {
    width: 50%;
    margin: 25px;
}

.about .left h1 {
    font-size: 30px;
    font-weight: bold;
}

.about .img {
    width: 50%;
    object-fit: cover;
    padding: 16px;
}

.about .button {
    padding: 16px 32px;
    margin: 50px 0px;
    background-color: #FFBE00;
    color: #eee;
    border: none;
    font-size: 12px;
    font-weight: bold;

    transition: background-color 0.5s ease-in-out;
    
}

.about .button:hover {
    background-color:#263A4F;
}

/* --- services --- */

.services {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    /* border: 1px solid red; */
}

.services .head {
    text-align: center;
}

.services .container {
    /* border: 1px solid red; */
    display: flex;
    margin: 0px 100px 0 100px;
 }

.services .container .serv {
    width: 33%;
    margin: 16px;
    position: relative;
    /* border: 1px solid red; */
}

.services .container .serv .main {
    width: 100%;
    height:300px;
    object-fit: cover;
}

.services .icon {
    position: absolute;
    left: 10%;
    top: 50%;
}

.services .service-h2 {
    margin-top: 50px;
    margin-left: 32px;
}

.services  .service-p, .service-h5 {
    margin-top: 16px;
    margin-left: 32px;
}

.services .service-h5 {
    color: #FFBE00;
}

/* ---  work  ---- */
/* .work {
    border: 1px solid red;
} */

.work .head-h5{
    margin-top: 100px;
}

.work .head-h1{
    font-size: 30px;
}

.work .head-h5, .head-h1 {
    text-align: center;
    font-weight: bold;
    color: #263A4F;
    /* font-size: 30px; */
}

.work-container {
    display: flex;
}

.work-part {
    width: 25%;
    object-fit: cover;
    margin: 2px;
    position: relative;
    /* border: 1px solid red; */
    background-color: #FFBE00;
}

/* .work-part:hover {
    opacity: 10%;
} */

.work-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: all 0.2s ease-in-out;
}

.work-img:hover {
    opacity: 25%;
}

.work-h5, .work-h2{
    color: #fff;
}

.work-h5 {
    position: absolute;
    top: 25%;
    left: 15%;
}

.work-h2 {
    position: absolute;
    top: 35%;
    left: 15%;
    margin-top: 32px;
}

/* ---   team  --- */

/* .team {
    border: 1px solid red;
    background-color: white;
} */

.team-head-h5 {
    margin-top: 100px;
    font-weight: bold;
    color: #263A4F;
    text-align: center;
}

.team-head-h1 {
    text-align: center;
    font-weight: bold;
    color: #263A4F;
    font-size: 30px;
}

.team-container {
    display: flex;
    margin: 0px 100px 100px 100px;
}

.team-container .team-part {
    /* width: 25%; */
    margin: 8px;
    background-color: #8695a5;
    overflow: hidden;
    position: relative;
}

/* .team-container .team-part:hover {
    opacity: 50%;
} */

.team-container .team-part .team-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: all 0.5s ease-in-out;
}

.team-img:hover{
    opacity: .5;
    transform: scale(1.1);

}

.team-container .team-part .team-btn {
    padding: 8px;
    background-color: #FFBE00;
    color: #eee;
    font-weight: bold;
    /* text-align: right; */
    margin: 16px;
    border: none;
    position: absolute;
    top: 80%;
    left: 50%;
}

.team-container .team-part .team-h3{
    position: absolute;
    bottom: 36px;
    left: -52px;
    transform: rotate(-90deg);
    color: #263A4F;
    background-color: white;
    padding: 8px 16px;
    /* border: 1px solid red; */
}

/* --- testimonial --- */

.test {
    padding: 100px;
    /* border: 1px solid red; */
}

.test-head-h5, .test-head-h1 {
    text-align: center;
    color: #263A4F;
    font-weight: bold;
}

.test-head-h1 {
    font-size: 30px;
}

.test .test-container {
    display: flex;
    /* margin: 100px; */
}

.test .test-container .test-part {
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    margin: 5px;
    border-left: 4px solid #FFBE00;
    background-color: white;
    align-items: center;

}

.test .test-container .test-part .test-img {
    width: 200px;
    height: 60px;
    object-fit: cover;
    padding: 4px;
    margin: 8px;
    background-color: #fff;
    border-radius: 50%;
    /* border: 1px solid red; */
}

.test .test-container .test-part .test-part-text {
    padding-left: 20px;
    color: #444d55;

}

.test .test-container .test-part .test-para {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.test .text-h4 {
    /* line-height: 1.7; */
    color: #263a4f;
    /* letter-spacing: -0.5px; */
}

/* ---- blog ---- */

.blog {
    /* border: 1px solid red; */
    padding: 100px;
    background-color: white;
}

.blog-head-h5 {
    color: #263A4F;
    text-align: center;
    font-weight: bold;
}

.blog-head-h1 {
    color: #263A4F;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.blog .container{
    display: flex;
}

.blog .partition {
    /* border: 1px solid red; */
    width: 33%;
    margin: 0 8px;
    position: relative;
    background-color: #eee;
    padding-bottom: 16px;
}

.blog .blog-img {
    width: 100%;
    height: auto;
}

.blog .blog-btn {
    padding: 8px 16px;
    background-color: #FFBE00;
    border: none;
    color: #eee;
    font-weight: bold;
    font-size: smaller;
    position: absolute;
    left: 0%;
    top: 48%
}

.blog .blog-h3, .blog-p, .blog-a {
    padding: 0 16px;
    /* border: 1px solid red; */
}

.blog .blog-p {
    color: #4f5863;
}

.blog .blog-h3 {
    color: #263A4F;
    transition: all 0.5s ease-in-out;

}

.blog .blog-h3:hover {
    color: #FFBE00;
}

.blog .blog-a {
    color: #263A4F;
    text-decoration: none;
    line-height: 20px;
    /* border: 1px solid red; */
}

/* ---- contact ---- */

.contact {
    /* border: 1px solid red; */
    display: flex;
    padding: 100px;
}

.contact-left {
    width: 50%;
}

.contact-left .contact-h1 {
    font-size: 36px;
    word-spacing: -4px;
    margin: 0px;
    padding: 0px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #263A4F;
}

.contact-left .contact-p {
    word-spacing: -1px;
    margin-bottom: 15px;
    color: #8f979e;
    margin-right: 16px;
}

.contact-left .contact-address {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #263A4F;
    font-style: normal;
}

.contact-left a {
    text-decoration: none;
    color: #263A4F;
    font-weight: 600;
    line-height: 25px;
}

.contact-right {
    width: 50%;
    align-items: center;
}

.contact-right .contact-name, .contact-email {
    width: 45%;
    height: 25px;
    padding: 15px 10px;
    /* margin-left: 8px; */
    border: 1px solid #ced4da;
}

.contact-right .contact-message {
    /* margin-left: 8px; */
    margin-top: 16px;
    width: 95%;
    border: 1px solid #ced4da;
    padding: 15px 10px;
    height: 250px;
}

.contact-right .contact-btn {
    padding: 15px 20px;
    color: #fff;
    background-color: #FFBE00;
    font-weight: 800;
    border: none;
    transition: all 0.5s ease-in-out;

}

.contact-right .contact-btn:hover {
    background-color: #263A4F;
}

/* ---- FOOTER ---- */

.foo {
    background-color: #26282b;
    /* border: 1px solid red; */

}

.foo .up {
    display: flex;
    text-align: center;
    padding: 100px;
    justify-content: space-between;
}

.foo .up h3{
    color: #eee;
}

.foo .up a {
    text-decoration: none;
    color: rgb(170, 161, 161);
}

.foo .up .up1 {
    width: 25%;
    text-align: left;
    padding-top: 16px;
}

.foo .up .up1 p {
    color: rgb(170, 161, 161);
    padding-right: 16px;
}

.foo .up .up2 {
    width: 20%;
    /* padding: 8px; */
    text-align: left;
}

.foo .up .up3 {
    width: 25%;
    /* padding: 8px; */
    text-align: left;
}

.foo .foo-address {
    color: rgb(170, 161, 161);
    margin-bottom: 15px;
    font-style: normal;
}

.foo .up .up4 {
    width: 30%;
    /* padding: 8px; */
    text-align: left;
}

.foo .up .up4 .foo-p {
    color: rgb(170, 161, 161);
}

.up4 .subscribe {
    display: flex;
    /* line-height: 50px; */
    text-align: left;
    align-items: center;
}

.up4 .subscribe .foo-input {
    height: 45px;
    width: 200px;
    padding-left: 10px;
}

.up4 .subscribe .sub {
    background-color: #FFBE00;
    color: #fff;
    height: 50px;
    padding: 0 16px;
    border: none;
    width: 150px;
}

.foo .down {
    background-color: #fff;
    /* border: 1px solid red; */
}

.foo .down .copyright {
    color: gray;
    text-align: center;
    align-items: center;
    line-height: 75px;
    margin: 0;
    font-size: 12px;
}