body {
    margin: 0;
    padding: 0;

    /* for easy shaping of our elements */
    box-sizing: border-box;

    font-family: Arial, sans-serif;
    font-size: 14px;

    background: linear-gradient(to right, rgb(96, 210, 255), rgb(53, 255, 53));
}

.calculator {
    /* arrange calculator's output fields and buttons in a grid */
    display: grid;
    justify-content: center;
    /* align-items: center; */
    /* align entire content of the grid in center not just items */
    align-content: center;
    /* spread  vertically to fill the page with elements */
    min-height: 100vh;

    /* arrange elements in a grid of 4 columns with 80px for each col */
    grid-template-columns: repeat(4, 80px);

    /* our first row is for output and it can grow as big as the input so */
    /* we'll set a minimum height of 120px and max width to auto so that */
    /* it can warp and go below */
    /* other than that we need 5 columns of 80px for the buttons to be square */
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}

.calculator > button {
    font-size: 1.5rem;

    background-color: rgba(255, 255, 255, .75);

    border: 1px solid #fff;
    outline: none;

    cursor: pointer;
}

.calculator > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.row-two {
    grid-row: span 2;
}

.output {
    /* output field should take the entire width of the first row */
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);

    /* display contents on the right side of the screen evenly spaced */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;

    /* break words in between to prevent overflow */
    word-wrap: break-word;
    /* allowed to break all words and wrap to the next line */
    word-break: break-all;

    padding: 4px;
}

.prev-output {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.curr-output {
    color: rgba(255, 255, 255);
    font-size: 2.5rem;
}